@import "./assets/styles/reset.scss";
@import "./assets/styles/globals.scss";
@import "./assets/styles/helper.scss";


.toDo__container {
  display: grid;
  max-width: 700px;
  margin: 0 auto;
  justify-self: center;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 1px solid #292957;
  box-shadow: 0px 4px 15px #b4b4b40d;
  border-radius: 12px;
  background-color: var(--prime-background);
  gap: 20px;

}

.heading1 {
  color: var(--prime-font);
  font-weight: 800;
  font-size: 56px;
  padding: 50px 60px;
}

.toDo__inputfield {
  background-color: var(--prime-input);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: var(--prim);
  border-radius: 4px;
  padding: 7px 10px;
}

.btn_add {
  color: var(--prime-white);
  background-color: var(--prime-button);
  height: 36px;
  border-radius: 4px;
  padding: 8px 14px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  margin-right: 20px;

  &:hover {
    background-color: var(--prime-hover-btn);
  }
}

.taskList {
  max-width: 400px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.js__delete {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  color: var(--prime-font);
  fill: var(--prime-background);
}