@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Poppins:wght@400;600&display=swap');

$white: #FFFFFF;
$black: #000000;
$placeholder: #87919E;

$ligh-input: #F2F2F2;
$light-input-font:rgba(28, 48, 74, 0.5);
$light-button: #1676F3;
$light-font: #575767;
$light-garbage: #323232;


$dark-background: #1E1F25;
$dark-font:#DADADA;
$dark-heading:$white;
$dark-input: $ligh-input;
$dark-garbage: $white;
